body{
    display: inline-flexbox;
    align-items: center;
    text-align: center;
    background-image: url(./פיצה\ 9.jpg);
    background-size: 100%;
}
button {
    background-color: rgb(52 46 46); 
    color: white;
    font-weight: bold;
    border-radius: 0.5vw;
    margin: 0.5vw;
    font-size: 1.2vw;
    padding: 0.7vw;
}
#PizzaButtons, #WorkerButtons, #OrderButtons{
    margin: 3vw;
    margin-top: 0vw;
}
#buttons{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 1vw;
}
p{
    height: 0.2vw;
    width: 100vw;
    background-color: rgb(52 46 46);
}
table{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 1.5vw;
    margin: 1.5vw;
}
#pizza_tbody, #worker_tbody, #order_tbody{
    font-size: 1vw;
}
td{
    padding: 0.5vw;
    font-size: 1.2vw;
}
#details, #detaildW{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#s{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Get, #GetW, #GetById, #GetByIdW, #AddPizza, #AddWorker, #AddOrder, #ChangePizza, #Delete, #DeleteWorker{
    display: none;
    color: rgb(52 46 46);
    margin-top: 5vw;
}

/* ///////////Login//////// */
#bodyLogin
{
    display: flex;
    justify-content: center;
    background: none;
    padding-top: 10vw;
    background: none;
    background-color: black;
}
#areaLogin
{
    width: 25vw;
    font-size: 1.5vw;
    border-radius: 1vw;
    border: 0.2vw solid rgb(52 46 46);
    padding: 3vw;
    background-color: white;
}
#enter
{
    background-color: black;
    width: 12vw;
    padding: 0vw;
}
.input
{
    width: 12vw;
}


/* order */
#payment, #addItem_pizza
{
    display: none;
}